SubmissionServiceMaven/ClientDCIBridgeAPI/src/wsdl/submission.cpc.wmin.ac.uk_8181/SubmissionService/WSExecutionService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://interfaces.frontend.submission.cpc.wmin.ac.uk/" xmlns:ns1="http://schemas.ggf.org/jsdl/2005/11/jsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://interfaces.frontend.submission.cpc.wmin.ac.uk/">

<xs:import namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl" schemaLocation="https://submission.cpc.wmin.ac.uk:8181/SubmissionService/WSExecutionService?xsd=1"/>

<xs:element name="ExecutionException" type="tns:ExecutionException"/>

<xs:element name="FileManagementException" type="tns:FileManagementException"/>

<xs:element name="IllegalParameterException" type="tns:IllegalParameterException"/>

<xs:element name="RepositoryCommunicationException" type="tns:RepositoryCommunicationException"/>

<xs:element name="WrongJSDLException" type="tns:WrongJSDLException"/>

<xs:element name="modifyJSDLFile" type="tns:modifyJSDLFile"/>

<xs:element name="modifyJSDLFileResponse" type="tns:modifyJSDLFileResponse"/>

<xs:element name="submitToDciBridge" type="tns:submitToDciBridge"/>

<xs:element name="submitToDciBridgeResponse" type="tns:submitToDciBridgeResponse"/>

<xs:complexType name="submitToDciBridge">
<xs:sequence>
<xs:element name="dciBridgeLocation" type="xs:string" minOccurs="0"/>
<xs:element name="jsdl" type="ns1:JobDefinition_Type" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitToDciBridgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IllegalParameterException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExecutionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyJSDLFile">
<xs:sequence>
<xs:element name="urlRepository" type="xs:string" minOccurs="0"/>
<xs:element name="jsdl" type="ns1:JobDefinition_Type" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyJSDLFileResponse">
<xs:sequence>
<xs:element name="return" type="ns1:JobDefinition_Type" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WrongJSDLException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RepositoryCommunicationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileManagementException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>