SubmissionServiceMaven/ClientDCIBridgeAPI/src/wsdl/submission.cpc.wmin.ac.uk_8080/SubmissionService/WSExecutionService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://interfaces.frontend.submission.cpc.wmin.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.frontend.submission.cpc.wmin.ac.uk/">
<types>
<xsd:schema>
<xsd:import namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl" schemaLocation="http://submission.cpc.wmin.ac.uk:8080/SubmissionService/WSExecutionService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://interfaces.frontend.submission.cpc.wmin.ac.uk/" schemaLocation="http://submission.cpc.wmin.ac.uk:8080/SubmissionService/WSExecutionService?xsd=2"/>
</xsd:schema>
</types>
<message name="submitToDciBridge">
<part name="parameters" element="tns:submitToDciBridge"/>
</message>
<message name="submitToDciBridgeResponse">
<part name="parameters" element="tns:submitToDciBridgeResponse"/>
</message>
<message name="IllegalParameterException">
<part name="fault" element="tns:IllegalParameterException"/>
</message>
<message name="ExecutionException">
<part name="fault" element="tns:ExecutionException"/>
</message>
<message name="modifyJSDLFile">
<part name="parameters" element="tns:modifyJSDLFile"/>
</message>
<message name="modifyJSDLFileResponse">
<part name="parameters" element="tns:modifyJSDLFileResponse"/>
</message>
<message name="WrongJSDLException">
<part name="fault" element="tns:WrongJSDLException"/>
</message>
<message name="RepositoryCommunicationException">
<part name="fault" element="tns:RepositoryCommunicationException"/>
</message>
<message name="FileManagementException">
<part name="fault" element="tns:FileManagementException"/>
</message>
<portType name="WSExecutionService">
<operation name="submitToDciBridge">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/submitToDciBridgeRequest" message="tns:submitToDciBridge"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/submitToDciBridgeResponse" message="tns:submitToDciBridgeResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns3:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/submitToDciBridge/Fault/IllegalParameterException"/>
<fault xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:ExecutionException" name="ExecutionException" ns4:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/submitToDciBridge/Fault/ExecutionException"/>
</operation>
<operation name="modifyJSDLFile">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFileRequest" message="tns:modifyJSDLFile"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFileResponse" message="tns:modifyJSDLFileResponse"/>
<fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns7:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFile/Fault/IllegalParameterException"/>
<fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:WrongJSDLException" name="WrongJSDLException" ns8:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFile/Fault/WrongJSDLException"/>
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:RepositoryCommunicationException" name="RepositoryCommunicationException" ns9:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFile/Fault/RepositoryCommunicationException"/>
<fault xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" message="tns:FileManagementException" name="FileManagementException" ns10:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSExecutionService/modifyJSDLFile/Fault/FileManagementException"/>
</operation>
</portType>
</definitions>