SubmissionServiceMaven/SubmissionService/src/wsdl/shiwa-repo.cpc.wmin.ac.uk_8080/shiwa-repo/SubmissionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.submission.repository.shiwa.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.submission.repository.shiwa.org/" name="SubmissionService">
<import namespace="http://interfaces.submission.repository.shiwa.org/" location="http://shiwa-repo.cpc.wmin.ac.uk:8080/shiwa-repo/SubmissionService?wsdl=1" />
<binding xmlns:ns1="http://interfaces.submission.repository.shiwa.org/" name="SubmissionServiceBinding" type="ns1:SubmissionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllPublicValidatedImplementations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal" />
</fault>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
<operation name="getAllWorkflowEngineInstances">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
<operation name="getLCParameters">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
<operation name="getFullImplForJSDL">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
<operation name="getFullWEIForJSDL">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal" />
</fault>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
<operation name="getBackendInstance">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="DatabaseProblemException">
<soap:fault name="DatabaseProblemException" use="literal" />
</fault>
<fault name="ForbiddenException">
<soap:fault name="ForbiddenException" use="literal" />
</fault>
</operation>
</binding>
<service name="SubmissionService">
<port name="SubmissionService" binding="tns:SubmissionServiceBinding">
<soap:address location="http://shiwa-repo.cpc.wmin.ac.uk:8080/shiwa-repo/SubmissionService" />
</port>
</service>
</definitions>