SubmissionServiceMaven/SubmissionService/src/wsdl/shiwa-repo.cpc.wmin.ac.uk_8080/shiwa-repo/SubmissionService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:tns="http://interfaces.submission.repository.shiwa.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.submission.repository.shiwa.org/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.submission.repository.shiwa.org/" schemaLocation="http://shiwa-repo.cpc.wmin.ac.uk:8080/shiwa-repo/SubmissionService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllPublicValidatedImplementations">
<part name="parameters" element="tns:getAllPublicValidatedImplementations" />
</message>
<message name="getAllPublicValidatedImplementationsResponse">
<part name="parameters" element="tns:getAllPublicValidatedImplementationsResponse" />
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException" />
</message>
<message name="DatabaseProblemException">
<part name="fault" element="tns:DatabaseProblemException" />
</message>
<message name="ForbiddenException">
<part name="fault" element="tns:ForbiddenException" />
</message>
<message name="getAllWorkflowEngineInstances">
<part name="parameters" element="tns:getAllWorkflowEngineInstances" />
</message>
<message name="getAllWorkflowEngineInstancesResponse">
<part name="parameters" element="tns:getAllWorkflowEngineInstancesResponse" />
</message>
<message name="getLCParameters">
<part name="parameters" element="tns:getLCParameters" />
</message>
<message name="getLCParametersResponse">
<part name="parameters" element="tns:getLCParametersResponse" />
</message>
<message name="getFullImplForJSDL">
<part name="parameters" element="tns:getFullImplForJSDL" />
</message>
<message name="getFullImplForJSDLResponse">
<part name="parameters" element="tns:getFullImplForJSDLResponse" />
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException" />
</message>
<message name="getFullWEIForJSDL">
<part name="parameters" element="tns:getFullWEIForJSDL" />
</message>
<message name="getFullWEIForJSDLResponse">
<part name="parameters" element="tns:getFullWEIForJSDLResponse" />
</message>
<message name="getBackendInstance">
<part name="parameters" element="tns:getBackendInstance" />
</message>
<message name="getBackendInstanceResponse">
<part name="parameters" element="tns:getBackendInstanceResponse" />
</message>
<portType name="SubmissionService">
<operation name="getAllPublicValidatedImplementations">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllPublicValidatedImplementationsRequest" message="tns:getAllPublicValidatedImplementations" />
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllPublicValidatedImplementationsResponse" message="tns:getAllPublicValidatedImplementationsResponse" />
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:UnauthorizedException" name="UnauthorizedException" ns3:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllPublicValidatedImplementations/Fault/UnauthorizedException" />
<fault xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns4:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllPublicValidatedImplementations/Fault/DatabaseProblemException" />
<fault xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns5:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllPublicValidatedImplementations/Fault/ForbiddenException" />
</operation>
<operation name="getAllWorkflowEngineInstances">
<input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllWorkflowEngineInstancesRequest" message="tns:getAllWorkflowEngineInstances" />
<output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllWorkflowEngineInstancesResponse" message="tns:getAllWorkflowEngineInstancesResponse" />
<fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns8:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllWorkflowEngineInstances/Fault/DatabaseProblemException" />
<fault xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns9:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getAllWorkflowEngineInstances/Fault/ForbiddenException" />
</operation>
<operation name="getLCParameters">
<input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getLCParametersRequest" message="tns:getLCParameters" />
<output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getLCParametersResponse" message="tns:getLCParametersResponse" />
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns12:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getLCParameters/Fault/DatabaseProblemException" />
<fault xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns13:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getLCParameters/Fault/ForbiddenException" />
</operation>
<operation name="getFullImplForJSDL">
<input xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullImplForJSDLRequest" message="tns:getFullImplForJSDL" />
<output xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullImplForJSDLResponse" message="tns:getFullImplForJSDLResponse" />
<fault xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:NotFoundException" name="NotFoundException" ns16:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullImplForJSDL/Fault/NotFoundException" />
<fault xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns17:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullImplForJSDL/Fault/DatabaseProblemException" />
<fault xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns18:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullImplForJSDL/Fault/ForbiddenException" />
</operation>
<operation name="getFullWEIForJSDL">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullWEIForJSDLRequest" message="tns:getFullWEIForJSDL" />
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullWEIForJSDLResponse" message="tns:getFullWEIForJSDLResponse" />
<fault xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" message="tns:NotFoundException" name="NotFoundException" ns21:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullWEIForJSDL/Fault/NotFoundException" />
<fault xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns22:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullWEIForJSDL/Fault/DatabaseProblemException" />
<fault xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns23:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getFullWEIForJSDL/Fault/ForbiddenException" />
</operation>
<operation name="getBackendInstance">
<input xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getBackendInstanceRequest" message="tns:getBackendInstance" />
<output xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getBackendInstanceResponse" message="tns:getBackendInstanceResponse" />
<fault xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" message="tns:DatabaseProblemException" name="DatabaseProblemException" ns26:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getBackendInstance/Fault/DatabaseProblemException" />
<fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:ForbiddenException" name="ForbiddenException" ns27:Action="http://interfaces.submission.repository.shiwa.org/SubmissionService/getBackendInstance/Fault/ForbiddenException" />
</operation>
</portType>
</definitions>