SubmissionServiceMaven/ClientSearchAPI/src/wsdl/submission.cpc.wmin.ac.uk_8080/SubmissionService/WSCodeListService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://interfaces.frontend.submission.cpc.wmin.ac.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://interfaces.frontend.submission.cpc.wmin.ac.uk/">
<types>
<xsd:schema>
<xsd:import namespace="http://interfaces.submission.repository.shiwa.org/" schemaLocation="http://submission.cpc.wmin.ac.uk:8080/SubmissionService/WSCodeListService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://interfaces.frontend.submission.cpc.wmin.ac.uk/" schemaLocation="http://submission.cpc.wmin.ac.uk:8080/SubmissionService/WSCodeListService?xsd=2"/>
</xsd:schema>
</types>
<message name="getLCParameters">
<part name="parameters" element="tns:getLCParameters"/>
</message>
<message name="getLCParametersResponse">
<part name="parameters" element="tns:getLCParametersResponse"/>
</message>
<message name="IllegalParameterException">
<part name="fault" element="tns:IllegalParameterException"/>
</message>
<message name="RepositoryCommunicationException">
<part name="fault" element="tns:RepositoryCommunicationException"/>
</message>
<message name="getExecutorSites">
<part name="parameters" element="tns:getExecutorSites"/>
</message>
<message name="getExecutorSitesResponse">
<part name="parameters" element="tns:getExecutorSitesResponse"/>
</message>
<message name="getExecutorSiteConfiguration">
<part name="parameters" element="tns:getExecutorSiteConfiguration"/>
</message>
<message name="getExecutorSiteConfigurationResponse">
<part name="parameters" element="tns:getExecutorSiteConfigurationResponse"/>
</message>
<message name="getLCIDs">
<part name="parameters" element="tns:getLCIDs"/>
</message>
<message name="getLCIDsResponse">
<part name="parameters" element="tns:getLCIDsResponse"/>
</message>
<portType name="WSCodeListService">
<operation name="getLCParameters">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCParametersRequest" message="tns:getLCParameters"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCParametersResponse" message="tns:getLCParametersResponse"/>
<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns3:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCParameters/Fault/IllegalParameterException"/>
<fault xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:RepositoryCommunicationException" name="RepositoryCommunicationException" ns4:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCParameters/Fault/RepositoryCommunicationException"/>
</operation>
<operation name="getExecutorSites">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSitesRequest" message="tns:getExecutorSites"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSitesResponse" message="tns:getExecutorSitesResponse"/>
<fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns7:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSites/Fault/IllegalParameterException"/>
<fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:RepositoryCommunicationException" name="RepositoryCommunicationException" ns8:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSites/Fault/RepositoryCommunicationException"/>
</operation>
<operation name="getExecutorSiteConfiguration">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSiteConfigurationRequest" message="tns:getExecutorSiteConfiguration"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSiteConfigurationResponse" message="tns:getExecutorSiteConfigurationResponse"/>
<fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns11:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSiteConfiguration/Fault/IllegalParameterException"/>
<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:RepositoryCommunicationException" name="RepositoryCommunicationException" ns12:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getExecutorSiteConfiguration/Fault/RepositoryCommunicationException"/>
</operation>
<operation name="getLCIDs">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCIDsRequest" message="tns:getLCIDs"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCIDsResponse" message="tns:getLCIDsResponse"/>
<fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:IllegalParameterException" name="IllegalParameterException" ns15:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCIDs/Fault/IllegalParameterException"/>
<fault xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:RepositoryCommunicationException" name="RepositoryCommunicationException" ns16:Action="http://interfaces.frontend.submission.cpc.wmin.ac.uk/WSCodeListService/getLCIDs/Fault/RepositoryCommunicationException"/>
</operation>
</portType>
</definitions>